<footer>
    <nav class="navFooter">
        <div class="footerImgDiv">
            <img src="" alt="The Move DB"/>
            <button>JOIN THE COMMUNITY</button>
        </div>
        <div>
            <h3>THE BASICS</h3>
            <ul>
                <li>About TMDB</li>
                <li>Contact Us</li>
                <li>Support Forums</li>
                <li>API Documentation</li>
                <li>System Status</li>
            </ul>
        </div>
        <div>
            <h3>GET INVOLVED</h3>
            <ul>
                <li>Contribution</li>
                <li>Add New Movie</li>
                <li>Add New TV Show</li>
            </ul>
        </div>
        <div>
            <h3>COMMUNITY</h3>
            <ul>
                <li>Guidlines</li>
                <li>Discussions</li>
                <li>Leaderboard</li>
            </ul>
        </div>
        <div>
            <h3>LEGAL</h3>
            <ul>
                <li>Terms of Use</li>
                <li>API Terms of Use</li>
                <li>Privacy Policy</li>
                <li>DMCA Policy</li>
            </ul>
        </div>
    </nav>
</footer>