<div class="movies-list">
    <div class="movies">

        <div class="card"  *ngFor="let movie of movies">
            <div class="image">
                <div>
                    <a><img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" /></a>
                </div>
                <div class="options">
                    <a>
                        <div class="opt-circle"></div>
                    </a>
                </div>
            </div>

            <div class="content">
                <h2>{{ movie.title }}</h2>
                <p>{{ movie.release_date }}</p>
            </div>
        </div>
        
    </div>

    <div class="loadMore">
        <a>Load More</a>
    </div>

</div>