<div class="movies-list">
    <div class="movies">
        <div class="card">
            <div class="image">
                <div>
                    <a><img src="/favicon-1.png"/></a>
                </div>
                <div class="options">
                    <a>
                        <div class="opt-circle"></div>
                    </a>
                </div>
            </div>

            <div class="content">
                <h2>War of the Worlds</h2>
                <p>Jul 29, 2025</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <div>
                    <a><img src="/favicon-1.png"/></a>
                </div>
                <div class="options">
                    <a>
                        <div class="opt-circle"></div>
                    </a>
                </div>
            </div>

            <div class="content">
                <h2>War of the Worlds</h2>
                <p>Jul 29, 2025</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <div>
                    <a><img src="/favicon-1.png"/></a>
                </div>
                <div class="options">
                    <a>
                        <div class="opt-circle"></div>
                    </a>
                </div>
            </div>

            <div class="content">
                <h2>War of the Worlds</h2>
                <p>Jul 29, 2025</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <div>
                    <a><img src="/favicon-1.png"/></a>
                </div>
                <div class="options">
                    <a>
                        <div class="opt-circle"></div>
                    </a>
                </div>
            </div>

            <div class="content">
                <h2>War of the Worlds</h2>
                <p>Jul 29, 2025</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <div>
                    <a><img src="/favicon-1.png"/></a>
                </div>
                <div class="options">
                    <a>
                        <div class="opt-circle"></div>
                    </a>
                </div>
            </div>

            <div class="content">
                <h2>War of the Worlds</h2>
                <p>Jul 29, 2025</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <div>
                    <a><img src="/favicon-1.png"/></a>
                </div>
                <div class="options">
                    <a>
                        <div class="opt-circle"></div>
                    </a>
                </div>
            </div>

            <div class="content">
                <h2>War of the Worlds</h2>
                <p>Jul 29, 2025</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <div>
                    <a><img src="/favicon-1.png"/></a>
                </div>
                <div class="options">
                    <a>
                        <div class="opt-circle"></div>
                    </a>
                </div>
            </div>

            <div class="content">
                <h2>War of the Worlds</h2>
                <p>Jul 29, 2025</p>
            </div>
        </div>
        
        
    </div>

    <div class="loadMore">
        <a>Load More</a>
    </div>

</div>