<div class="card"> <!-- Sort Section -->
  <div class="topCard">
    <h2>Sort</h2>
    <span class="arrowClosed"></span><!-- class="arrowOpen" -->
  </div>

  <div class="filter">
    <h3 for="sort">Sort Results By:</h3>
    <select id="sort" name="sort">
      <option value="popAsc">Popularity Ascending</option>
      <option value="popDesc">Popularity Descending</option>
    </select>
  </div>
</div>

<div class="card"> <!-- Filter Section -->

  <div class="topCard">
    <h2>Filter</h2>
    <span class="arrowClosed"></span><!-- class="arrowOpen" -->
  </div>
  

  <div class="filter"> <!-- Release Dates Section -->
    <div class="rdatesTop">
      <h3>Release Dates:</h3>
    </div>
    <div class="rdatesBottom">
      <div class="yearCol">
        <span class="label">from:</span>
        <span class="input"><input type="date" id="fromDate" name="fromDate" /></span>
      </div>
      <div class="yearCol">
        <span class="label">to:</span>
        <span class="input"><input type="date" id="toDate" name="toDate" /></span>
      </div>
    </div>
  </div>

  <div class="filter"> <!-- Genre Section -->
    <h3>Genres:</h3>
    <ul>
      <li *ngFor="let genre of genres"><a>{{genre.name}}</a></li>
    </ul>
  </div>
</div>

<div class="search">  <!-- Search Section -->
  <button class="searchButton">Search</button>
</div>
