<header>
    <div class="headerDiv">
        <img src="/logo.png" alt="TMDB" class="logo" routerLink="/"/>
        <Button routerLink="/movies">Movies</Button>
        <Button routerLink="/tvshows">TV Shows</Button> 
        <Button>People</Button> 
        <Button>More</Button>  
    </div>
    <div class="headerDiv">
        <Button class="languageBtn">EN</Button> 
        <Button>Login</Button> 
        <Button>Join TMDB</Button> 
        <Button><i class="fas fa-search"></i></Button>
    </div>
</header>