<header>
  <div class="headerDiv">
    <img src="/logo.png" alt="TMDB" class="logo" routerLink="/" />
    <button routerLink="/movies">Movies</button>
    <button routerLink="/tvshows">TV Shows</button>
    <button class="hideBtn">People</button>
    <button class="hideBtn">More</button>
  </div>

  <div class="headerDiv">
    <button class="languageBtn hideBtn">EN</button>
    <button>Login</button>
    <button class="hideBtn">Join TMDB</button>
    <button (click)="onSearchBarClick()">
      <i
        [ngClass]="isSearchBarVisible ? 'fa-solid fa-xmark' : 'fas fa-search'"
      ></i>
    </button>
  </div>

  <div class="searchDiv" [ngClass]="{ hidden: !isSearchBarVisible }">
    <div>
        <div>
            <span>
              <i class="fas fa-search"></i>
              <input type="text" id="searchInput" [(ngModel)]="searchQuery" (keyup)="onSearchInputKey($event)"
                placeholder="Search for a movie, TV show, person..."
              />
            </span>
        </div>
    </div>
  </div>
</header>
