header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-content: center;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    
    flex-wrap: wrap;
    background-color: rgba(3,37,61);
    
    z-index: 1000;
    transition: top .2s linear;
}

.headerDiv {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    margin: 1.5rem;
    align-content: center;
    text-align: center;
}

.headerDiv button {
    margin-left: 1rem;
    color: white;
    border: none;
    background: none;
    font-weight: 600;
}

.headerDiv button:hover, .logo {
    cursor: pointer;
}

.logo {
    width: 9rem;
}


.headerDiv .languageBtn {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 4px;
    width: auto;
}

.headerDiv .languageBtn:hover {
    background-color: white;
    color: rgba(3,37,61);
}

.searchDiv {
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    border-top: 1px solid rgba(227,227,227);
    border-bottom: 1px solid rgba(227,227,227);
}

.searchDiv div {
    width: 100%;
    background-color: #fff;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchDiv div div {
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    display: flex;
}

.searchDiv div div span {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    border: 0;
    transition: all 0s;
    margin: 0;
    padding: 0;
}

span input {
    width: 100%;
    height: 44px;
    border: 0;
    outline: 0;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 100%;
    color: #acacac;
    text-indent: 0;
    padding-left: 30px;
    padding-right: 0;
}

.hidden {
    display: none;
}

@media (max-width: 912px) {
    .headerDiv {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .searchDiv {
        position: relative;
        top: 0;
        margin-top: 0.5rem;
    }

    .hideBtn {
        display: none;
    }
}

@media (max-width: 768px) {
    .headerDiv {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .searchDiv {
        position: relative;
        top: 0;
        margin-top: 0.5rem;
    }
    
    .hideBtn {
        display: none;
    }
}

@media (max-width: 555px) {

    .headerDiv {
        margin: 0.25rem;
    }
    
    .headerDiv button {
        margin-left: 0.5rem;
        font-size: 0.9rem;
    }

    .searchDiv div div {
        padding: 0 20px;
    }

    span input {
        padding-left: 15px;
        font-size: 0.9rem;
    }

    .logo {
        width: 7rem;
    } 
    .headerDiv .languageBtn {
        width: 4rem;
        font-size: 0.9rem;
    }
    .hideBtn {
        display: none;
    }
}